@import "../rootScss/root.scss";

.headers {

  grid-column: center-start / center-end;

  margin: 5rem 0;

  grid-row-gap: 3rem;
  display: grid;

.head{

  @supports(display: grid) {
    display: grid;
    //grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 1rem;
    align-items: start;
    justify-content: center;
  }
}

}
.header{
  @supports(display: grid) {
    width: auto;
    margin-bottom: 0;
}

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

}