@import "../rootScss/root.scss";

.footer {
  grid-row: 5 / 6;
  grid-column: center-start/ center-end;

  padding: 6rem 0 0 4rem;

  @media only screen and (max-width: $bp-medium) {
    grid-row: 7 / 8;
    grid-column: 1 / -1;
  }
}
