@import "../rootScss/root.scss";

.turnover {
  &__content {
    grid-row: 2/3;
    grid-column: full-start / col-end 5;

    padding: 2rem 6vw;

    display: grid;
    align-content: center;
    justify-items: start;

    @media only screen and (max-width: $bp-medium) {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
    }

    @media only screen and (max-width: $bp-medium) {
      padding: 1rem;
    }
  }

  &__picture {
    grid-row: 2 / 3;
    grid-column: col-start 6 / center-end;

    display: grid;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $bp-medium) {
      grid-row: 3 / 4;
      grid-column: 1 / -1;
    }

    &--img {
      width: 100%;
      box-shadow: 0 2rem 5rem rgba(#000, 0.1);
      border-radius: 3px;
    }
  }
}
